// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// application.scss
@import "./actiontext.scss";
#post_button {
    background-color: rosybrown;
    border-radius: 45px;
    float: right;
    margin-right: 32px;
    margin-top: -13px;
}

.first-coloumn {
    background-color: #9ee5e5;
    width: 21%;
}

.first-coloumn img {
    width: 9%;
}

.third-coloumn {
    background-color: #d6b7ae;
    width: 22%;
    img {
        display: inline;
        height: 51px;
        margin-top: 45px;
        margin-left: 85px
    }
}

strong {
    margin-left: 29px;
}

h3 {
    margin-top: 50px;
}

table {
    border: 2px solid black;
    margin-top: 53px;
}

.followers {
    position: absolute;
    right: 242px;
}

.following {
    position: absolute;
    right: 146px;
}

.posts {
    position: absolute;
    right: 85px;
}

.user_activity {
    margin-top: 20px;
}

.timeline {
    margin-top: 63px;
}

.user_post {
    border: 2px solid black;
    border-radius: 29px;
    margin: 29px;
    padding: 25px;
}